<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-3'>
      <h2>User info</h2>
      <%= render 'info', user: @user %>
      <h2 class="mt-3">New book</h2>
      <%= render 'books/form', book: @book %>
    </div>
    <div class='col-md-8 offset-md-1'>
      <h2>Books</h2>
      <%= render 'books/index',books: @books %>


      <h3>投稿数の前日比・前週比</h3>
        <div class="table_width">
          <table class="table table-bordered">
            <thead>
            <tr>
              <th>今日の投稿数</th>
              <th>前日の投稿数</th>
              <th>前日比</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td><%= @today_book.count %></td>
              <td><%= @yesterday_book.count %></td>
              <% if @yesterday_book.count == 0 %>
              <td>前日の投稿はなし</td>
              <% else %>
              <td><% @the_day_before =   @today_book.count / @yesterday_book.count  %>
              <%= (@the_day_before * 100).round %>%</td>
              <% end %>
            </tr>
            </tbody>
          </table>

          <table class="table table-bordered">
            <thead>
            <tr>
              <th>今週の投稿数</th>
              <th>先週の投稿数</th>
              <th>前週比</th>
            </tr>
            </thead>
            <tbody>
                <td><%= @this_week_book.count %></td>
                <td><%= @last_week_book.count %></td>
              <% if @last_week_book.count == 0 %>
                <td>先週の投稿はなし</td>
              <% else %>
                <td><% @the_week_before = @this_week_book.count / @last_week_book.count  %>
                <%= (@the_week_before * 100).round %>%</td>
              <% end %>
              </tr>
            </tbody>
          </table>
        </div>
              <%= render 'books/gurafu',books: @books %>

<div>
  <canvas id="myChart"></canvas>
</div>
<script>
  $(document).on('turbolinks:load',function(){ //turbolinkの無効化
    const ctx = document.getElementById("myChart"); //canvasで指定したidを取得し ctxに代入
      new Chart(ctx, {
      type: 'line',  //グラフの種類を表す。今回は折れ線なのでline
      data: {
        labels: ["6日前", "5日前", "4日前", "3日前", "2日前", "1日前", "今日"],　//横軸のラベル、今回は日付なのでこのように指定
         datasets: [{
           
           label: "投稿した本の数", //　凡例
           data: [<%= @books.created_day(6).count %>,  //6日前の投稿数
           <%= @books.created_day(5).count %>,  //5日前の投稿数
           <%= @books.created_day(4).count %>,  //4日前の投稿数
           <%= @books.created_day(3).count %>,  //3日前の投稿数
           <%= @books.created_day(2).count %>,  //2日前の投稿数
           <%= @books.created_day(1).count %>,  //昨日の投稿数
           <%= @books.created_day(0).count %>], //今日の投稿数
          borderColor: "rgba(0,0,255,1)",  //線の色、他にもbackgroundcolor等も指定できます
          lineTension: 0.5  //折れ線の丸み具合。0で直線になります
         }],
      },
      options: {
         plugins: {
        title: {
          display: true,
          text: "７日間の投稿数の比較"
          }
        },
        responsive: true,
        scales: {
          y: { //縦軸のオプション
            suggestedMin: 0,  //最小値に設定
            suggestedMax: 10, //最大値の設定
            ticks: {
              stepSize: 1,　//目盛りの数え方。今回は１刻みなため１を指定
            }
          }
        }
      }
    });
  });
</script>
    </div>
 </div>
